@import "tailwindcss";

@layer base {
    :root {
        --default-font-family: system-ui;
    }

    body {
        margin: 0;
        overflow: hidden;
    }
}

@plugin "daisyui" {
    themes: all;
    logs: false;
}
