@import "tailwindcss";

@layer base {
    :root {
        --default-font-family: system-ui;
    }

    body {
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
}

@plugin "daisyui" {
    themes: all
}
